#main{
    margin: auto;
    width: 40%;
    height:500px;
    border: 4px solid brown;
    border-radius: 8px;
    background-color:ghostwhite;
    overflow:auto;
}

#heading{
    color: green;
    font-size: 3em;
    font-family:'Lucida Sans';
    padding-left: 10%;
}

#inputField{
    width:75%;
    height: 10%;
    border-radius: 8px;
    font-size: 20px;
    padding: 2%;
    
}

#addButton{
    background-color:steelblue;
    color:whitesmoke;
    height: 10%;
    width: 10%;
    border-radius: 20px;
    font-size: 20px;
    padding: 1%;
}

#addButton:hover{
    background-color: chocolate;
}

#list{
    background-color: #ff9999;
    list-style-type: none;
    position:relative;
    padding: 0px;
    margin: 0px;
}

#addInput{
    margin-left: 5%;
}

.del:hover {
    background-color: peru;
    color: white;
  }

.del{
    position:absolute;
    width: 10%;
    Height: 100%;
    right:0;
    Top:0;
    font-size: 60%;
    background-color: lavender;
    cursor: pointer;
}

.listItem{
      cursor: pointer;
      background-color: #eee;
      font-size: 20px;
      padding: 10px 8px 10px 8px;
      position:relative;
      left:0;
     
  }

.text{
    overflow:hidden;
}

.listItem:nth-child(odd){
    background-color:lightblue;
}

.listDiv{
    padding:2%;
    
}

#header{
    background-color:wheat;
}

#delAll{
    padding:2%;
    margin:2%;
    border-radius: 15px;
    background-color: skyblue;
}
#delAll:hover{
    background-color: darkgoldenrod;
}
